 
  <div class="buttonS">
  <button mat-raised-button (click)="sortToDoListByStatus()">
    Trier
  </button>
  </div>

  <ng-container class="todoList">

    <table mat-table [dataSource]="todos">

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Tâche</th>
        <td mat-cell *matCellDef="let todo" (click)="onTodoClicked(todo.isSelected);">{{todo.title}}</td>
      </ng-container>
    
      <!-- StatusType Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let todo" (click)="onTodoClicked(todo.isSelected);">{{todo.statusType | replace}}</td>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let todo">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="onTodoToggled(todo)"
                        [checked]="selection.isSelected(todo)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let todo; columns: displayedColumns;"></tr>

    </table>
    
    </ng-container>

  
  